services:
  bge-m3:
    image: semitechnologies/transformers-inference:baai-bge-m3-onnx-latest
    ports:
      - "8080:8080"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "python3", "-c", "import socket; s = socket.socket(); s.connect(('localhost', 8080))" ]
      interval: 30s
      timeout: 10s
      retries: 3
