services:
  bge-m3:
    image: semitechnologies/transformers-inference:baai-bge-m3-onnx-latest
    ports:
      - "8080:8080"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8080/" ]
      interval: 30s
      timeout: 10s
      retries: 3
